---
layout: default
title: Word Lions LLC
---

{% include JB/setup %}

 <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-8 columns" role="content">


    {% for post in paginator.posts %}

      <article style="">

        <h1><a href="{{ BASE_PATH }}{{ post.url }}/">{{ post.title }}</a></h1>

        {{ post.content }}

        <span><h6>Written by {{ post.author }}</h6>&nbsp;&nbsp;&nbsp;<h6><a href="{{ BASE_PATH }}{{ post.url }}#disqus_thread">Comment</a></h6></span>

      </article>

      <hr style="margin-bottom:8em;" />
        
    
    {% endfor %}
<span class="radius secondary label">
    <h4>More articles</h4>
<ul class="inline-list clearindents">
        
{% if paginator.previous_page %}
    <li>
      {% if paginator.previous_page == 1 %}
        <a href="/"><i class="foundicon-left-arrow"></i></a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}"><i class="foundicon-left-arrow"></i></a>
      {% endif %}
    </li>
  {% else %}
    <li>
      <span><i class="foundicon-left-arrow"></i></span>
    </li>
  {% endif %}

    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  
<li style="margin-right: 1.375em;">
  {% if paginator.next_page %}

      <a href="/page{{ paginator.next_page }}"><i class="foundicon-right-arrow"></i></a>
  {% else %}
      <span><i class="foundicon-right-arrow"></i></span>
  {% endif %}
    </li>
</ul>
</span>
        
    
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    {% include aside.html %}

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->