---
layout: default
title: Who We Are
tagline: Supporting tagline
description: "The Word Lions team has a deep technical and communications background."
---
{% include JB/setup %}
<!-- Main Page Content and Sidebar -->
<div class="row">
    <!-- Main Blog Content -->
    <h1>A Heritage of Technology and Business</h1>
    <div class="large-8 columns" role="content">
        <div class="row">
            <div class="large-6 columns">
                <img title="Joel with his half pint" src="/img/joelandtorito.jpg" alt="Joel Barker, founder and owner of Word Lions. Also, writer" />
               
            </div>
            <div class="large-6 columns">
                 <h2>Joel Barker</h2>
                 <h3>Principal and Writer</h3>
                <p>After a first career in telecommunications and IT, Joel Barker took on the communication challenges of marketing technology. For 10 years he has been writing and structuring content, largely for technology and B2B offerings. As Word Lions grows, he savors the experience of teaching other writers the Word Lions Way. If you criticize yippie small dogs, he will flash a patient, indulgent smile and later introduce you to Torito, the chihuahua that will change your mind.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <img title="Karl Steiner, Senior Lion" src="/img/karlsteiner.jpg" alt="Karl Steiner, Word Lion" />
                
            </div>
            <div class="large-6 columns">
                <h2>Karl Steiner</h2>
                <h3>Writer and Whip Cracker</h3>
                <p>Karl joined Word Lions in 2011 after almost fifteen years in sales and management roles for telecommunications, IT, and software development. Karl has a talent for accessible, value-driven content. He also speaks Saleperson-ese, which helps us connect marketing with sales needs. In his spare time, he likes to eat Greek salads and hang around in bars.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <h4>Erik Arneson</h4>
                <img src="/img/erikarneson.jpg" />
                <p>Over the years, Erik's code has sold guitars, balanced server loads, and served up any number of web services. Along with his understanding of the underpinnings of applications, Word Lions put his affinity for research to work. We could all stand to learn a little bit about proper attire from Erik.</p>
            </div>
            <div class="large-6 columns">
                <h4>Karl Middlebrooks</h4>
                <img title="Karl Middlebrooks" src="/img/karlmiddlebrooks.jpg" alt="Karl Middlebrooks, writer" />
                <p>Karl has been tweaking technology since the days of VisiCalc on the Apple ][+. He enjoys taking business puzzles and using technology to solve them, making people happy in the process. He's also brought his love of writing together with technology, writing about everything from SQL Server business intelligence to integrating social network services and new developments in electroacoustic music.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <h4>Michael Kitson</h4>
                <img src="/img/Kitson.jpg" />
                <p>Michael Kitson turns the knobs and pushes keys on a variety of intimidating devices to create high quality audio and multimedia production. In a sound booth, he is a soothing influence that brings out the best in voice talent.</p>
            </div>
            <div class="large-6 columns">
                <h4>Curtis Settino</h4>
                <img src="/img/curtissettino.png" />
                <p>
                    <a href="http://www.canoofle.com/index.htm" target="_blank">Curtis</a>has been creating visual and audio content for a variety of purposes since, like, forever. He’s helped create demos, courses, and advertising for some very large and some very small companies. His graphics help us explain complicated things with a visual language that is both casual and concise.</p>
            </div>
        </div>
        <div class="large-6 columns">
            <!-- Add next subcontractor bio here -->
        </div>
    </div>{% include emeritus.html %}
    <!-- End Sidebar -->
</div>
<!-- End Main Content and Sidebar -->
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h4>Get in touch!</h4>
            <div class="row">
                <div class="large-9 columns">
                    <p>We'd love to start a discussion about how we can help with your content marketing or training needs.</p>
                </div>
                <div class="large-3 columns">
                    <a href="/contact" class="radius button right">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>