---
layout: default
title: Contact Us
tagline: Supporting tagline
---

{% include JB/setup %}

 <div class="row">
 
    <!-- Contact Details -->
    <div class="large-8 columns" role="content">
 
      <h3>Get in Touch!</h3>
      <p>We’d like to start a conversation with you about using content marketing to increase sales or competence. Please drop us a line at <a href="mailto:TheLions@wordlions.com">TheLions@wordlions.com</a>.</p>
 
      <div class="section-container tabs" data-section>
        <section class="section">
          <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Your Name</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourName" placeholder="Jane Smith">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline"> Your Email</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                </div>
              </div>
              <label>What's up?</label>
              <textarea rows="4"></textarea>
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
        </section>
        <section class="section">
          <h5 class="title"><a href="#panel2">Specific Person</a></h5>
          <div class="content" data-slug="panel2">
            <ul class="large-block-grid-3">
              <li><a href="mailto:joel@wordlions.com"><img src="http://placehold.it/200x200&amp;text=[person]">Joel Barker</a><br />
                  503.310.2662<br />Twitter: <a href="http://twitter.com/joelbyronbarker">@joelbyronbarker</a><br />
                  LinkedIn: <a title="LinkedIn: joelbyronbarker" href="http://www.linkedin.com/in/joelbyronbarker" target="_blank">joelbyronbarker</a><br />
                  Facebook: <a title="facebook.com/joelbyronbarker" href="https://www.facebook.com/joelbyronbarker" target="_blank">facebook.com/joelbyronbarker</a><br />
                  Schedule: <a href="http://tungle.me/joelbyronbarker" target="_blank">tungle.me/joelbyronbarker</a>
              </li>
              <li><a href="mailto:philip@wordlions.com"><img src="http://placehold.it/200x200&amp;text=[person]">Philip Morgan</a><br />
                  503.539.5509<br />
                  Twitter: <a href="http://twitter.com/philip_morgan">philip_morgan</a><br />
                  LinkedIn: <a href="http://www.linkedin.com/in/philipmorgan" target="_blank">philipmorgan</a>
               </li>
              <li><a href="mailto:karl@wordlions.com"><img src="http://placehold.it/200x200&amp;text=[person]">Karl Steiner</a><br />
                  503.334.7106
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
 
    <!-- End Contact Details -->


  <!-- End Main Content and Sidebar -->


    <!-- Sidebar -->

    {% include aside.html %}

    <!-- End Sidebar -->

     </div>