    <aside class="large-4 columns">
	 <div class="panel">
        
        <img src="/img/WL-logo-no-text.png" />
        <h1></h1>

        <h5>Word Lions creates persuasive and educational content for business.</h5>

        <p><a href="/contact">Contact us</a> to start a discussion about how we can help with your content marketing or training needs.</p>

        <p><strong>Things You Should Read Right Now:</strong></p>
        <ul>
            <li><a href="/technical-writers-as-snowballs/">On Writing and Snowballs</a></li>
            <li><a href="/making-great-docs-step-one-hate-the-first-draft/">The Red Pen</a></li>
            <li><a href="/features-benefits-and-value/">On Value</a></li>
        </ul>
      </div>

    </aside>
