    <aside class="large-4 columns">

	 <div class="panel">
        
        <img src="/img/WL-logo-no-text.png" />
        <h1></h1>

        <h4>Word Lions creates persuasive and educational content.</h4>

        <h6>Things You Should Read Right Now:</h6>
        <ul>
            <li><a href="/technical-writers-as-snowballs/">On Writing and Snowballs</a></li>
            <li><a href="/making-great-docs-step-one-hate-the-first-draft/">The Red Pen</a></li>
            <li><a href="/features-benefits-and-value/">On Value</a></li>
            <li><a href="/things-we-love-clicky-keyboards/">On Clicky Keyboards</a></li>
            <li><a href="/how-to-win-any-argument/">On Winning Arguments</a></li>
        </ul>
        <p><a href="mailto:TheLions@wordlions.com">Contact us</a> to start a discussion about how we can help with your content marketing or training needs.</p>
      </div>

    </aside>