    <aside class="large-4 columns">
      <div class="panel">
        
        <img src="/img/WL-logo-no-text.png" />
        <h5>Contact Us</h5>
        <p>
          Let's start a discussion about how we can help with your
          content marketing needs.
        </p>
<form action="https://getsimpleform.com/messages?form_api_token=589ff7ed417f315c6f926ddd1ea86c9b" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://www.wordlions.com/contact/' />
  <!-- all your input fields here.... -->
  <input type="text" name="name" placeholder="Your Name" value="" />
  <input type="text" name="phone" placeholder="Your Phone Number" value="" />
  <input type="email" name="email" placeholder="Your Email Address" value="" />
  <textarea name="message" placeholder="Your Message" id="" rows="10" cols="" tabindex="5"></textarea>
  <input type='submit' value='Contact Us' />
</form>
      </div>

    </aside>
