    <aside class="large-4 columns">
    <aside class="large-3 columns">
	 <div class="panel">

        <img src="/img/philip.jpg" />
        <h5>Word Lion Emeritus, Philip Morgan</h5>

        <p>Philip co-founded Word Lions with Joel way back in 2009. The Word Lions ethic, our processes, and our writing continue to be inspired by what he brought to our work. After four years, he has moved on to other projects. Follow his interesting investigations into creativity at <a href="http://philipmorganphotography.com/blog/" alt="Philip Morgan Photography Blog">his blog.</a>   </p>
      </div>

    </aside>
